 <header class="header">
        <!-- navigation -->
        <nav class="nav-bar">
            <div class="container">
                <a class="logo" href="/"><img src="/assets/img/tweetplug-logo.png" alt="tweetplug-logo"></a>
                <!-- hamburger menu toggle -->
                <input type="checkbox" name="menu-toggle" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="menu-icon"><span class="hamburger"></span></label>
                <ul class="main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <!-- dropdown menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">administrator</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="user-profile.html">Edit profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>