    <header class="header">
        <nav class="nav-bar">
            <div class="container">
                <a class="logo" href="index.html"><img src="/assets/img/tweetplug-logo.png" alt="tweetplug-logo"></a>
                <input type="checkbox" name="" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="menu-icon"><span class="hamburger"></span></label>
                <ul class="main-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>