<!DOCTYPE html>
<html lang="en">
     <%- include('partials/head'); -%>
<body>
     <%- include('partials/nav'); -%>
    </header>
    <main>
        <section>
            <div class="container">
                <h1 class="text-center mb-5">Advertise with Us</h1>
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <h3>WHO ARE YOU?</h3>
                        <p>So, are you a business owner? Do you have a business brand?</p>
                        <p>Are you organizing a campaign or competition and in need of audience?</p>
                        <p>To cut it short... Do you want to reach a large and unique audience?</p>
                        <p>Tweetplug is here for that!</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>COMMITTED USERS</h3>
                        <p>Tweetplug has a large number of users who are committed in making sponsored posts on their twitter on a daily basis.</p>
                        <p>It is actually their job to post your adverts. So be rest assured that your advert will go places!!!</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>CAMPAIGN DEVELOPMENT</h3>
                        <p>How does the public perceive your brand. Get expert help planning and executing your campaigns.</p>
                        <p>Consult us to develop your campaign ideas and execute them.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>BRAND STRATEGY</h3>
                        <p>Making you stand out by creating a bold brand identity and extending your reach through Twitter. Let us define your business.</p>
                    </div>
                </div>

                <h2 class="text-center mt-4">COST PER ACQUISITION (CPA) MARKETING</h2>
                <p class="text-center">The services CPA marketing has to offer include:</p>
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <h3>Download – Cost per download (CPD):</h3>
                        <p>With this service, advertisers can create ads for what they want their prospects to download. It can be an eBook, software, etc. They can also set the amount they want to pay per download to publishers.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Call – Cost per call:</h3>
                        <p>If you have offers and want prospects to call you for more information or negotiations, you can create an ad and set the budget.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Signup – Cost per registration:</h3>
                        <p>With this service, advertisers can create ads so that prospective customers can see and register or signup on their site.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Traffic – Cost per click:</h3>
                        <p>Create ads so that visitors may see and click on it. This will increase your site traffic.</p>
                    </div>

                    <div class="col-lg-6 py-3">
                        <h3>REACH THOUSANDS OF AUDIENCE THROUGH TWITTER</h3>
                        <p>Capture a larger audience via twitter. Put your business online and take advantage of a whole new market for your products & services.</p>
                        <p>With our user base of over 3000+ users, we can assist you in reaching an audience of over 300k user daily.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>UNIQUE AUDIENCE</h3>
                        <p>The best way to reach out to audience faster these days are through social media. Its been said that twitter is the best ad platform you'll find – though ultimately it will depend on what you hope to accomplish.</p>
                        <p>But Twitter offers some unique ad targeting features you would not find anywhere else.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>TRUSTED PARTNER</h3>
                        <p>As a public company, we are fully transparent about our business model and practices. Our clients can be confident that we operate to the highest possible standards of integrity and are committed to serving their best interests.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>NO SPAMMING</h3>
                        <p>Tweetplug ensures you post a maximum of 3 posts on your twitter timeline daily. This is to prevent unnecessary posts and discouraging the targeted audience.</p>
                    </div>
                </div>
                <p class="text-center">If you are a brand, small business or individual, contact us now at support@tweetplug.com and you will be replied immediately with price quotation.</p>
            </div>
        </section>
    </main>
     <%- include('partials/footer'); -%>
</body>
     <%- include('partials/scripts'); -%>
</html>