<!DOCTYPE html>
<html lang="en">
     <%- include('partials/head'); -%>
<body>
     <%- include('partials/nav'); -%>
    <main>
       <div class="container text-center py-5">
           <img src="assets/img/error404.jpg" alt="error404" class="error404">
           <h1 class="my-5">Oops, something went terribly wrong!</h1>
           <button>Return to home</button>
       </div>
    </main>
     <%- include('partials/footer'); -%>
</body>
     <%- include('partials/scripts'); -%>
</html>