<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <section>
            <div class="container">
                <h1 class="text-center mb-4">Frequently Asked Questions</h1>
                <div class="row">
                    <div class="col-lg-6 py-3">
                        <h3>I just subscribed, what next?</h3>
                        <p>After subscribing, just login and click on your dashboard, you will see the 3 daily available sponsored content, you can either be asked to copy and paste or you can be asked to create your tweet and tweet it on your timeline, after tweeting, you are required to get a particular number of retweets on each tweet depending on the package you are subscribed to then copy each link of each of the 3 tweets and paste it on your dashboard and click on SUBMIT LINK.</p>
                        <p>That is all!! You are done for the day. You will be credited with your revenue share before the end of the day if you did your work right.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Do I have to refer someone before I get paid?</h3>
                        <p>NO, we do not have any referral program neither are we planning to introduce anything like that. If you trust us enough you can introduce Tweetplug as a source of income to your family and friends but we do not pay commission on that, we only pay you for promoting a business.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>How long does withdrawal take after making a withdrawal request?</h3>
                        <p>Withdrawal requests is every Sunday from 12am until 4pm into the bank account you registered with.</p>
                        <p>Withdrawals are processed within minutes but the maximum time frame is within 48hours.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Why am I allowed to tweet only 3 times in a day?</h3>
                        <p>We do not encourage spamming at all, so all users are only allowed to tweet 3 sponsored adverts in a day.</p>
                        <h3 class="pt-2">Do I have to submit my tweet links daily?</h3>
                        <p>It is absolutely necessary to submit your tweet links daily, because that is the only way we can confirm that you have completed your task and process your revenue share(payment).</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3 class="pt-2">What if I do not tweet sponsored ads in a day?</h3>
                        <p>You will not get paid for that day. Please note that you will only get paid when you tweet and get the required number of retweets on each tweet. If you do not tweet, we will not get paid and we would not be able to you.</p> 
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>What if I am not able to get my required retweets on each tweet?</h3>
                        <p>We have a WhatsApp group to help customers with their required retweets on each tweet, after you subscribe you can request to join the group. Please follow the group rules in order not to be kicked out.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>If I have a problem or want to make an enquiry, who do I contact?</h3>
                        <p>If you ever have a problem or want to make an enquiry, please call or message the Admin or any of the Frontmen and you will be attended to properly. If you complain and your problem does not get resolved, please send a mail to us describing your problem and include the name of the frontman you complained to. We have trained all our frontmen so anyone you contact should be able to assist and solve your problem.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Are we going to last? are we legit?</h3>
                        <p>This is a funny question because every platform would tell you that they will last just to get you to subscribe but we assure you that we despise scammers and we are very passionate about what we do. We are growing fast and we have got something great here on a grand scale and we do not plan to compromise that. We plan to last not just for days or months but we plan to last for years and we cannot go that far without your cooperation.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>What happens if I submit a wrong link?</h3>
                        <p>If you submit a wrong link by mistake, please contact a frontman immediately so we do not deactivate your account but if you submit a wrong link and do not notify us then we notice, your account would be deactivated immediately.</p>
                        <h3 class="pt-3">We are open to suggestions:</h3>
                        <p>Please if you ever have a suggestion for us or have any advice on how we can improve on a particular aspect, feel free to reach out to us either by mail or on any of our social media platform.</p>
                    </div>
                    <div class="col-lg-6 py-3">
                        <h3>Should I be scared to join this platform? Will Tweetplug crash?</h3>
                        <p>Have you heard this quote by Brian Tracy that goes “whatever we expect with confidence becomes our own self-fulfilling prophecy”? Well that is simply saying that if you expect us to crash and you go about saying it with confidence then your prophecy might come to pass, you cannot want us to succeed but be expecting us to fail so please let us avoid saying that sentence because Tweetplug will not crash and that is on God.</p>
                        <p><em>-Life is a self-fulfilling prophecy. What you believe about life will be your experience of life - Donald Walsch</em></p>
                        <p>Lastly we promise not to disappoint those who have been disappointed by online businesses in the past and still thought to give us a chance.</p>
                    </div>
                    <div class="col-lg-12 py-3">
                        <h3>Why am I just making 50% returns on my investment/subscription? Would it go lower than 50%?</h3>
                        <p>We would not promise you what we cannot pay you and 50% profit is our offer so if you are okay with making 50% profit on your investment every month then you have come to the right place but if it is too small for you and you want more then you are in the wrong place. Also, we can assure you that there is not any legitimate online platform that would reward you over 50% return on investment per month, even experienced foreign exchange traders or cryptocurrency traders that risk 1-10% of their capital trading do not make 50% profit in a month. So please if you are not okay with our offer, you can find another place to invest your money.</p>
                        <p>Lastly there might be sometimes where we would have to pay lower than 50% profit in a month but be rest assured that you would still make very good profit in that month and we would never reduce the profit percentage without informing you first via email.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>
</body>
    <%- include('partials/scripts'); -%>
</html>