<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
    <title>Tweetplug | Forgot Password</title>
<body>
    <%- include('partials/nav'); -%>
    <main>
       <div class="container text-center py-5">
            <h1 class="text-center large">Please enter your email</h1>
            <p>We'd send a reset token to your registered emaill address</p>
            <form action="/passwordresettoken?_method=PATCH" id="resetPassword" method="POST">
                <fieldset class="form-group first-child">
                    <input type="text" class="form-control" name="email" id="resetCode" placeholder="Enter your registered email" aria-placeholder="Email" required aria-required="true">
                </fieldset>
                <button type="submit" class="button">Send Reset token</button>
            </form>
       </div>
    </main>
   <%- include('partials/footer'); -%>
</body>
    <%- include('partials/scripts'); -%>
</html>