<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
    <title>Tweetplug | Home</title>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <!-- Carousel section -->
        <section class="hero container">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="/assets/img/tweetplug-carousel1.png" class="d-block w-90" alt="tweet-daily">
                    <div class="carousel-caption d-block">
                        <h1 class="strong-blue">Start Getting Paid by Tweeting 3 times Daily for Businesses and Brands</h1>
                        <a href="/register" class="button">get started</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/tweetplug-carousel2.png" class="d-block w-90" alt="tweet-adverts">
                    <div class="carousel-caption d-block">
                        <h1 class="strong-white">Do you know you can make Money by Tweeting Adverts on Twitter?</h1>
                        <a href="/register" class="button">register now!</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/tweetplug-carousel3.png" class="d-block w-90" alt="get-paid">
                    <div class="carousel-caption d-block">
                        <h1 class="strong-white">Share in our revenue daily by Tweeting our Adverts 3 times Daily</h1>
                        <a href="/register" class="button">get started</a>
                    </div>
                  </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!-- Tweetplug Summary -->
        <section class="container">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <h2>About Us</h2>
                    <p>Tweetplug is an online platform that generates revenue for customers. Tweetplug generates revenue weekly and therefore pays out to customers on the weekly revenue generated which could be at an increased or decreased rate (all revenue rates are guaranteed profitable to customers). Tweetplug informs all customers before any change in revenue rate.</p>
                    <p>Tweetplug is not affiliated with any other platform. <strong><em>BEWARE OF SCAM AND FAKE NEWS</em></strong> (Contact us for any information).</p>
                    <p>Tweetplug is passionate about the dream to build something that makes a difference in online marketing and also to maintain a long lasting existence and trust relationship with all investing customers.</p>
                    <p>Tweetplug operates with effective customer relationship management and also aims at building high customer confidence in online business just as in local business.</p>
                    <p>Tweetplug is a customer friendly platform which would not tolerate false accusations, therefore, tweetplug urges all customers to avoid charges under the <strong><em>defamation law 1961, section 3.</em></strong></p>
                </div>
                <div class="col-lg-6 py-3">
                    <h2>Our <span class="strong-blue">Mission</span></h2>
                    <p>Think different. Live better.</p>
                    <h2 class="pt-3">Our <span class="strong-blue">Promise</span></h2>
                    <p>Tweetplug promises a profitable, long lasting investment and trust with every customer.</p>
                    <p><em>“Every customer can make between $250 (N97,000) - $4,000 (N1,500,000) profit annually. The choice is yours in making that extra source of income.”  ~ Tweetplug.</em></p>
                    <p>Tweetplug urges you to think different so you can live better and also we promise you that if you dedicate 15mins of your time everyday doing the task we give you, you can make between $250 (N97,000) - $4,000 (N1,500,000) profit Annually, it all depends on you but one fact is we all need that extra source of income.</p>
                    <h3 class="pt-1">Requirements</h3>
                    <ol>
                        <li><p class="mb-0">You need an active twitter account</p></li>
                        <li><p class="mb-0">You must have a minimum of 150 followers.</p></li>
                        <li><p class="mb-0">You must have an active bank account (For withdrawals).</p></li>
                    </ol>
                </div>
                <div class="col-lg-6 py-3">
                    <h2>Tweetplug <span class="strong-blue">Summary</span></h2>
                    <p>Tweetplug enables users to get paid by tweeting 3 advert posts daily on their twitter timeline. Our primary objective is to give everyone the power to grow their finances by helping brands and businesses reach their awareness goal by posting 3 times on your twitter page daily.</p>
                    <p>You get paid up to N6,000 daily by tweeting 2-3 advert post in a day. Withdrawals requests is every week on Friday before 4pm and withdrawals would be processed within 24-48 hours into the bank account you registered with, that means you will get credit alert before Tuesday if you make a request on Friday.</p>
                    <p>Quite a number of businesses ranging from brands, startups to individuals contact us very often to help them promote their business or grow their business/personal twitter page using Tweetplug because of the effectiveness of our reach. This enables us to share the proﬁt with our micro-inﬂuencers. All they have to do is follow instructions and post 3 sponsored tweets daily.</p>
                </div>
                <div class="col-lg-6 py-3">
                    <h3>I just subscribed, what next?</h3>
                    <p>After subscribing, just login and click on your dashboard, you will see the 3 daily available sponsored content, you can either be asked to copy and paste or you can be asked to create your tweet and tweet it on your timeline, after tweeting, you are required to get a particular number of retweets on each tweet depending on the package you’re subscribed to then copy each link of each of the 3 tweets and paste it on your dashboard and click on SUBMIT LINK.</p>
                    <p>That is all!! You are done for the day. You will be credited with your revenue share before the end of the day if you did your work right. Keep in mind that any day you do not tweet sponsored ad you would not get paid for that day. We do not encourage spamming, that is why you are only allowed to tweet 3 sponsored adverts in a day.</p>
                </div>
            </div>
        </section>
        <!-- Pricing section -->
        <section id="pricing">
            <div class="container">
                <div class="text-center">
                    <h2>Below is our dynamic pricing</h2>
                    <p>To gain access to our service, it is compulsory that you subscribe to a plan. Each plan has a duration of days in which it will last and it is renewable at the end of the days given.</p>
                    <p>Any plan you choose will determine your daily share of revenue.</p>
                </div>
                <!-- Cards -->
                <div class="row py-4">
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Free</span> Influencer</h3>
                            <h5 class="card-fee">Fee : Free</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;20 Daily</p>
                                <p class="card-text">UNLIMITED (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Junior</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;3,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> <span>&#8358;</span>786 Daily</p>
                                <p class="card-text">7 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Whiz</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;6,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> <span>&#8358;</span>734 Daily</p>
                                <p class="card-text">15 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Adept</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;12,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;1,467 Daily</p>
                                <p class="card-text">15 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Chief</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;24,000 </h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;1,467 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Expert</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;36,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;2,200 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Principal</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;48,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;2,934 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Liege</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;60,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;3,667 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Professional</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;72,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;4,400 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Prime</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;84,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;5,134 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Monarch</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;96,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;5,867 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-3">
                        <div class="card text-center">
                            <h3 class="card-header"><span class="strong-blue">Genius</span> Influencer</h3>
                            <h5 class="card-fee">Fee : &#8358;108,000</h5>
                            <div class="card-body">
                                <p class="card-text"><strong>Revenue share:</strong> &#8358;6,600 Daily</p>
                                <p class="card-text">30 Days (2 RETWEETS PER TWEET)</p>
                                <p class="card-text">Friday Withdrawals</p>
                                <a href="/subscribe" class="button">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>
</body>
    <%- include('partials/scripts'); -%>
</html>