<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <!-- Login form -->
        <section>
            <div class="container login-box">
                <h1 class="text-center large">Sign in <span class="big">manage your account</span></h1>
                <form id="loginForm">
                    <fieldset class="form-group first-child">
                        <input type="text" class="form-control" id="username" placeholder="Username" aria-placeholder="Username" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" aria-placeholder="Password" required aria-required="true">
                    </fieldset>
                    <fielset class="form-group form-check last-child">
                        <input type="checkbox" class="form-check-input" id="rememberLogin">
                        <label class="form-check-label" for="rememberLogin">Remember me</label>
                        <a href="/forgotpassword" id="forgotPassword">Forgot Password?</a>
                    </fielset>
                    <button type="submit" class="button">Login</button>
                </form>
                <p class="text-center my-3">Don't have an account?<span class="pl-3"><a href="/register">Register!</a></span></p>
            </div>
        </section>
    </main>
    <!-- error message modal 
    <div id="errorModal" class="error-modal">
        <div class="modal-content container">
        <span class="close-modal">&times;</span>
        <p>error: <span id="errorMessage">username or password incorrect</span></p>
        </div>
    </div> -->
    <%- include('partials/footer'); -%>
</body>
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/auth/login.js"></script>
</html>