<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <!-- Register form -->
        <section>
            <div class="container signup-box">
                <h1 class="text-center large">Sign up</h1>
                <form  id="registerForm" class="row">
                    <fieldset class="form-group col-md-6">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" aria-placeholder="First Name" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" aria-placeholder="Last Name" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <input type="text" class="form-control" id="username" placeholder="Username" aria-placeholder="Username" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <input type="text" class="form-control" id="twitterHandle" placeholder="Twitter Handle" aria-placeholder="Twitter Handle" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <select class="form-control" name="gender" id="gender" placeholder="Gender" aria-placeholder="Gender" required aria-required="true">
                            <option value="" disabled selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group col-md-7">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" aria-placeholder="Email Address" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-5">
                        <input type="number" class="form-control" id="mobileNumber" placeholder="Mobile number" aria-placeholder="Mobile number" required aria-required="true">
                    </fieldset>
                    <h2 class="big col-md-12 mt-3">Bank Details</h2>
                    <fieldset class="form-group col-md-12">
                        <input type="text" class="form-control" id="accountName" placeholder="Account Name" aria-placeholder="Account Name" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <input type="number" class="form-control" id="accountNumber" placeholder="Account number" aria-placeholder="Account number" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <select class="form-control" name="bank" id="bank" placeholder="Select Bank" aria-placeholder="Select Bank" required aria-required="true">
                            <option value="Select Bank" disabled selected>Select Bank...</option>
                            <option value="Access Bank">Access Bank Nigeria Plc</option>
                            <option value="Access-Diamond Bank">Access Bank Plc(DIAMOND)</option>
                            <option value="Eco Bank">Eco Bank Plc</option>
                            <option value="FCMB">FCMB</option>
                            <option value="Fidelity Bank">Fidelity Bank Plc</option>
                            <option value="First Bank">First Bank of Nigeria Plc</option>
                            <option value="Guarantee Trust Bank">Guarantee Trust Bank Plc</option>
                            <option value="Heritage Bank">Heritage Bank Company Ltd</option>
                            <option value="Keystone Bank">Keystone Bank</option>
                            <option value="Polaris Bank">Polaris Bank Ltd</option>
                            <option value="Providus Bank">Providus Bank</option>
                            <option value="Stanbic-IBTC Bank">Stanbic-IBTC Bank Plc</option>
                            <option value="Standard Chartered Bank">Standard Chartered Bank</option>
                            <option value="Sterling Bank">Sterling Bank</option>
                            <option value="Suntrust Bank">Suntrust Bank</option>
                            <option value="UBA">UBA Plc</option>
                            <option value="Union Bank">Union Bank</option>
                            <option value="Unity Bank">Unity Bank Plc</option>
                            <option value="VFD Microfinance Bank">VFD Microfinance Bank</option>
                            <option value="Wema Bank">Wema Bank</option>
                            <option value="Zenith Bank">Zenith Bank</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group col-md-6 mt-2">
                        <input type="password" class="form-control" id="password" placeholder="Password" aria-placeholder="Password" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group col-md-6 mt-2">
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password" aria-placeholder="Confirm Password" required aria-required="true">
                    </fieldset>
                    <fieldset class="form-group form-check col-md-12 last-child pr-0">
                        <input type="checkbox" class="form-check-input" id="agreeTerms">
                        <label class="form-check-label" for="agreeTerms">I Agree</label>
                        <p id="agreeClick"><small>By clicking Register, you agree to the <a href="/terms">Terms and Conditions</a> set out by this site, including our Cookie Use</small></p>
                    </fieldset>
                    <button type="submit" class="button">Register</button>
                </form>
                <p class="text-center my-3">Already have an account?<span class="pl-3"><a href="/login">Login!</a></span></p>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>
</body>
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/auth/register.js"></script>
    
</html>