<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <section>
            <div class="container">
                <h1 class="text-center mb-5">Upgrade Plan</h1>

                <!-- Subscription Instructions -->
                <p class="mb-4">To upgrade to any of the <a href="/subscribe">plans</a>, please follow these instructions carefully:</p>
                <ul>
                    <li>Call or Send a WhatsApp message to any of these agents below:
                        <br>
                        <span>Admin - Mr. Daniel: </span>
                        <a href="https://wa.me/2347045284378" target="_blank" ref="noopener noreferrer">+2347045284378</a>
                        <br>
                        <span>Frontman 1 - Mr. Ken: </span>
                        <a href="https://wa.me/2349055320134" target="_blank" ref="noopener noreferrer">+2349055320134</a>
                        <br>
                        <span>Frontman 2 - Mr. Christian: </span>
                        <a href="https://wa.me/2347045368578" target="_blank" ref="noopener noreferrer">+2347045368578</a>
                        <br>
                        <span>Frontman 3 - Mr. Michael: </span>
                        <a href="https://wa.me/2348149091929" target="_blank" ref="noopener noreferrer">+2348149091929</a>
                    </li>
                    <li>State that you want to upgrade your subscription plan, then go ahead to state the plan you want. </li>
                    <li>You will be directed on how to pay for your subscription.</li>
                    <li>After payment your account subscription will be upgraded within 1-3 hours.</li>
                </ul>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>
    </footer>
</body>
    <%- include('partials/scripts'); -%>
</html>